<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- CSS links -->

      <link rel="stylesheet" href="../static/bootstrap.css">
      <!-- <link rel="stylesheet" href="../static/style.css"> -->
      <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
      <link rel="stylesheet" href="../static/media.css">
        
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>sheerNstyle</title>
    
  </head>
  <body>
    <!--header starts-->
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <!-- <a class="navbar-brand" href="base.html"> -->
              <div>
                <!-- <img class="logo" src="snslogo2.png" > -->
                <a class="navbar-brand" href="/">
                  <!-- <h1 class="logo">sheerNstyle</h1> -->
                  <img src="{{url_for('static', filename='images/snslogo2.png')}}" alt="sheerNstyle">
                </a>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#c_nav" aria-controls="c_nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--menu-->
            <div class="collapse navbar-collapse menu" id="c_nav">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="opt" href="/sign_up/">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="opt" href="/service/">Service</a>
                </li>
                <li class="nav-item">
                  <a class="opt" href="/owner_sign_up/">Owner</a>
                </li>
                {% if 'owner_id' in session %}
                <li class="nav-item">
                  <a class="opt" href="/logout/">Logout Owner</a>
                </li>
                {% endif %}
               
                <!-- <li class="nav-item">
                  <a class="opt" href="#">Notice</a>
                </li> -->
                <li class="nav-item">
                  <a class="opt" href="#">FAQ</a>
                </li>
                {% if 'owner_id' in session %}
                <li class="nav-item">
                  <a class="opt" href="#">OWNER:{{owner_name}}</a>
                </li>
                {% endif %}
                {% if 'salon_id' in session %}
                <li class="nav-item">
                  <a class="opt" href="#">Salon:{{salon_name}}</a>
                </li>
                {% endif %}
                {% if 'employee_id' in session %}
                <li class="nav-item">
                  <a class="opt" href="#">Employee:{{employee_name}}</a>
                </li>
                {% endif %}
               
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!--header ends-->

    
    
<div class="container">
    {% block body %}
    
    {% endblock body %}


</div>

 

 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  </body>
</html>